@{
    ViewData["Title"] = "Reservation Availability";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="SearchAvailableRooms">Search Available Rooms</a>
</p>

<!-- Outros elementos da página, se necessário -->
